<?xml version="1.0" encoding="utf-8"?>
<jnlp
  spec="1.0+"
  codebase="http://bluecove.sourceforge.net/bluecove-webstart"
  href="$outputFile">
  <information>
    <title>MicroEmulator</title>
    <vendor>BlueCove; Vlad Skarzhevskyy</vendor>
    <homepage href="http://code.google.com/p/bluecove/"/>
    <description>MicroEmulator</description>
    <description kind="short">MicroEmulator with BlueCove</description>
    <icon href="icon.png"/>
    <offline-allowed/>
  </information>

  <security>
      <all-permissions/>
  </security>

  <resources>
    <j2se version="1.4+"/>
    <jar href="microemu-cldc-2.0.1-SNAPSHOT.jar"/>
    $dependencies
  </resources>

  <application-desc main-class="$mainClass">
  </application-desc>

</jnlp>